/* GENERAL */
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-fluid{
    padding: 0px 10px;
}

/* HEADER */
#header-nav {
    background-color: brown;
}
.navbar-header {
    padding: 20px;
}
.navbar-header h1 { /* Restaurant name */
    color: blanchedalmond;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.dropdown a:hover, .dropdown a:focus {
    text-decoration: none;
}
.dropdown button {
    clear: both;
}
#collapsable-nav a {
    font-size: 1.5em;
    margin-left: 20px;
    color: blanchedalmond;
  }

/* MAIN CONTENT */
.non-visible-box {
    background-color: aqua;
    height: 90px;
    width: 100%;
    opacity: 0;
}
#main-content-title > h2 {
    font-size: 3em;
    color: brown;
    font-weight: bold;
    margin: 20px;
}
#main-content div > h3 {
    font-size: 2em;
    color: brown;
    font-weight: bold;
    margin: 10px;
    text-decoration-line: underline;
}
#main-content #ratatouille, #main-content #blanquette-de-veau, #main-content #steack-tartare {
    margin: 0px;
    border: 10px solid white;
    padding: 10px;
    background-color: lightgrey;
}
